* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Bangers", cursive;
  width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #bc22c3;
  background: linear-gradient(0deg, #bc22c3 0%, #fd2d2d 100%);
}

.box-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  text-align: center;
}
.box-movie button {
  margin: auto;
  max-width: 100px;
  padding: 10px;
  margin-top: 15px;
  background-color: #f89200;
  border: 2px solid #000;
  border-radius: 10px;
}
.box-movie button a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-family: "Bangers", cursive;
}
.box-movie img {
  max-width: 400px;
  padding: 30px 0;
}

.box-descr {
  text-align: center;
}
.box-descr h2 {
  line-height: 120px;
  font-size: 40px;
}
.box-descr p {
  padding: 30px 80px;
  line-height: 25px;
}
.box-descr button {
  width: 200px;
  margin: auto;
  padding: 30px;
  background-color: #1ff910;
  border-radius: 15px;
  border: 2px solid #000;
}
.box-descr button a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
