* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
font-family: 'Bangers', cursive;
}
h1 {
 text-align: center;
 font-size: 80px;
}
.container {
 width: 800px;
 margin: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 background: rgb(188,34,195);
 background: linear-gradient(0deg, rgba(188,34,195,1) 0%, rgba(253,45,45,1) 100%);
}