.box-movie {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 40px;
 text-align: center;
 font-family: 'Lily Script One', cursive;
  button {
     @include buttons;
     width: 240px;
     padding:10px;
     margin-top: 15px;
     border-radius: 10px;
     font-size: 16px;
       a {
         color: #000;
         text-decoration: none;
         font-weight: bold;
         font-family: 'Lily Script One', cursive;
       }
  }
  img {
     max-width: 400px;
     padding: 30px 0;
  }
}