.box-movie {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 40px;
 text-align: center;
 font-family: 'Lily Script One', cursive;
  button {
     width: 240px;
     padding:10px;
     margin-top: 15px;
     border-radius: 10px;
     font-size: 16px;
       a {
         color: #000;
         text-decoration: none;
         font-weight: bold;
         font-family: $font-family-sans-serif;
       }
  }
  img {
     max-width: 400px;
     padding: 30px 0;
  }
}
.link-create {
 button {
   width: 200px;
   margin-bottom: 10px;
 }
}

.dng {
 button {
   border: 2px solid #000;
   color: #000;
 }
}