.box-descr {
 text-align: center;
 height: 100vh;
   h2 {
     line-height: 120px;
     font-size: 40px;
   }
   p {
     padding: 30px 80px;
     line-height: 25px;
   }
   button {
    @include buttons;
    width: 260px;
    padding: 30px;
    border-radius: 15px;
    font-size: 18px;
      a {
         @include styleLink;
      }
   }
}