.box-descr {
 text-align: center;
   h2 {
     line-height: 120px;
     font-size: 40px;
   }
   p {
     padding: 30px 80px;
     line-height: 25px;
   }
   button {
    width: 260px;
    padding: 30px;
    border-radius: 15px;
    font-size: 18px;
    margin-bottom: 40px;
     a {
       font-family: $font-family-sans-serif;
       color: black;
       font-weight: bold;
     }
   }
}