



@mixin styleLink {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lily Script One', cursive;
}


@mixin buttons {
    background-color: #f89200;
    border: 2px solid #000;
    margin: auto;
}